/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
.header {
  background-image: url("../../image/1img.jpeg");
  background-size: cover;
  width: 100%;
  height: 160px;
}

/* line 16, ../sass/style.scss */
.top-menu {
  background-color: #31353c;
  display: inline-block;
  margin-bottom: 2rem;
}
/* line 20, ../sass/style.scss */
.top-menu .element {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 20px;
}
/* line 24, ../sass/style.scss */
.top-menu .element :hover {
  color: #9D5B54;
  box-sizing: border-box;
}
/* line 28, ../sass/style.scss */
.top-menu .element a {
  text-decoration: none;
  font-size: 20px;
  color: #939393;
}

/* line 38, ../sass/style.scss */
.content {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* line 41, ../sass/style.scss */
.content a {
  text-decoration: none;
  color: #939393;
}
/* line 45, ../sass/style.scss */
.content h2 {
  font-size: 26px;
  margin-bottom: 1rem;
  color: #9D5B54;
}

/* line 55, ../sass/style.scss */
#form-auth {
  background-image: url("../../image/Mordor_1.jpg");
  background-size: 100%;
}

/* line 61, ../sass/style.scss */
.wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 71, ../sass/style.scss */
.form-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #343a40;
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* line 82, ../sass/style.scss */
input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #2b1603;
}

/* line 85, ../sass/style.scss */
input::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #2b1603;
  opacity: 1;
}

/* line 89, ../sass/style.scss */
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #2b1603;
  opacity: 1;
}

/* line 93, ../sass/style.scss */
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2b1603;
}

/* line 96, ../sass/style.scss */
input:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2b1603;
}

/* line 100, ../sass/style.scss */
input::placeholder {
  /* Most modern browsers support this now. */
  color: #2b1603;
}

/* line 104, ../sass/style.scss */
.login {
  width: 300px;
  margin: 0 auto;
}
/* line 107, ../sass/style.scss */
.login .in {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #1a1a1a !important;
  outline: 0;
}
/* line 128, ../sass/style.scss */
.login .btn {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 1px;
  font-weight: 500;
  margin-top: 20px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #b00312;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
/* line 144, ../sass/style.scss */
.login .btn :hover {
  background-color: #3484dc;
}

/* line 150, ../sass/style.scss */
.alert {
  margin: 20px auto;
}
